.navItem {
    padding: 5px;
    background-color: rgb(82, 82, 82);
    color: white;
}

.navItem:hover {
    background-color: rgb(42, 42, 42);
    color: white;
}

button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button:hover {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(42, 42, 42);
    color: white;
}

.navbarContainer {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    display: inherit;
    justify-content: space-evenly;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
    background-color: rgb(82, 82, 82);;
  }
